[Unit]
Description=GPIO lights service
After=syslog.target

[Service]
Type=simple
Restart=always
User=pi
Group=pi
ExecStart=python3 /home/pi/iot/relays/relays.py
StandardOutput=syslog
StandardError=syslog
WorkingDirectory= /home/pi/iot/relays/

[Install]
WantedBy=multi-user.target
